<!-- Footer -->
<div class="footer">
    <div class="manage-footer">
        <div class="contact-details">
            <h3>Contact Us</h3>
            <p>
                <i class="fa fa-map-marker"></i>Jharkhand Education Project Council, State Project Office, Old
                HEC High School, JSCA Stadium
                Road, Sector 3,
                Dhurwa, Ranchi - 834004, Jharkhand
            </p>
            <p><i class="fa fa-phone"></i>0651-2444501</p>
            <p><i class="fa fa-envelope"></i>jepcranchi1@gmail.com</p>
            <p><i class="fa fa-globe"></i>https://jepc.jharkhand.gov.in</p>
        </div>
        <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3664.080395190242!2d85.28451961497314!3d23.312841684806795!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39f4e04affffffff%3A0x596b9c73f9b54282!2sJEPC%20RANCHI%20(Old%20HEC%20high%20School)!5e0!3m2!1sen!2sin!4v1675517785047!5m2!1sen!2sin"
                    width="100%" height="220" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade" class="mapper"></iframe>
        </div>
    </div>
</div>
