
.vs/Hunarmis/config/applicationhost.config
obj/Debug/Hunarmis.dll
obj/Debug/TempPE/Models.DBModel.Designer.cs.dll
obj/Debug/Hunarmis.pdb
obj/Debug/Hunarmis.pdb
obj/Debug/TempPE/Models.DBModel.Designer.cs.dll
.vs/Hunarmis.csproj.dtbcache.json
.vs/Hunarmis.csproj.dtbcache.json
/.vs/Hunarmis.csproj.dtbcache.json
/bin/Hunarmis.dll
/bin/Hunarmis.pdb
/obj/Debug/edmxResourcesToEmbed/Models/DBModel.csdl
/obj/Debug/edmxResourcesToEmbed/Models/DBModel.msl
/obj/Debug/edmxResourcesToEmbed/Models/DBModel.ssdl
/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/obj/Debug/Hunarmis.csproj.CoreCompileInputs.cache
/obj/Debug/Hunarmis.dll
/obj/Debug/Hunarmis.pdb
/obj/Debug/TempPE/Models.DBModel.Designer.cs.dll
/obj/Debug/TempPE/Models.DBModel1.cs.dll
/desktop.ini
/logLoginUser.txt
/.vs/Hunarmis/v17/.suo
/.vs/Hunarmis/v17/DocumentLayout.json
/.vs/Hunarmis/v17/fileList.bin
/.vs/Hunarmis/config/applicationhost.config
/.vs/Hunarmis/FileContentIndex/d7ecf640-0598-40ad-a39a-716d657937c4.vsidx
/.vs/Hunarmis/FileContentIndex/cbaeb101-a21c-4344-a7c8-78178326c5b1.vsidx
/.vs/Hunarmis/FileContentIndex/d3d58c5a-8510-4048-b519-69735b8832b0.vsidx
