@using Hunarmis.Manager
@using Hunarmis.Helpers
@{
    ViewBag.Title = "Placement Tracker Dashboard";
}

<style>

    .navbar-top-links > li > a:not(.mainnav-toggle) > i {
        color: #040404
    }

    .navbar-brand {
        padding: 0 5px;
    }


    figure > div {
        height: 400px;
    }

    .highcharts-label text {
        color: #555 !important;
        font-size: 12px !important;
        font-weight: 500 !important;
        fill: #555 !important;
    }

    .highcharts-text-outline {
        stroke: none !important;
        fill: #555 !important;
    }

    .highcharts-legend-item text {
        color: #555 !important;
        font-size: 12px !important;
        font-weight: normal !important;
        fill: #555 !important;
    }

    .highcharts-axis-labels text {
        color: #555 !important;
        font-size: 12px !important;
        font-weight: normal !important;
        fill: #555 !important;
    }

    .highcharts-axis .highcharts-axis-line {
        stroke: #555 !important;
        fill: #555 !important;
        .nano-content .profile-wrap

    {
        background: #0d47a1 !important;
    }

    #mainnav-menu > .active-sub > a, #mainnav-menu > .active-sub > a:hover {
        background: #1976d2 !important;
    }

    .bg-light-primary {
        background: #1976d2 !important;
    }

    .bg-light-secondary {
        background: #1976d2 !important;
    }

    .bg-light-tertiary {
        background: #1976d2 !important;
    }

    .bg-light-info {
        background: #1976d2 !important;
    }

    .card-box .f-26 {
        color: #0d47a1;
    }

        .card-box .f-26.box2 {
            color: #0d47a1;
        }

        .card-box .f-26.box3 {
            color: #0d47a1;
        }

        .card-box .f-26.box4 {
            color: #0d47a1;
        }

    .card-box .f-14 {
        font-size: 14px;
        font-weight: 500;
        text-transform: uppercase;
        margin: 0px;
        margin-bottom: 10px;
        letter-spacing: 0px;
        color: #0d47a1;
    }

    .flex-shrink-0 {
        align-items: center;
        display: flex;
        height: 60px;
        justify-content: center;
        width: 60px;
        background: #fff;
        border-radius: 50%;
        font-size: 36px;
        box-shadow: none;
    }

        .flex-shrink-0 i {
            color: #fff;
        }

    #footer, .bootom-fixed {
        background: #0d47a1 !important;
        height: 43px;
    }
</style>

<div class="container-fluid">
    <div class="row mt-20">

        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="title"></div>
            <div class="tools">
                <div id="reportrange" style="background: #fff; cursor: pointer; padding: 5px 10px; width: 100%">
                    <i class="fa fa-calendar"></i>&nbsp;
                    <span></span> <i class="fa fa-caret-down"></i>
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="card card-box p-0">
                <div class="card-head">
                    <div class="title">Month wise placement numbers</div>
                    <div class="tools">
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-xs-12 col-md-12">
                            <figure class="highcharts-figure">
                                <div id="parent-container">
                                    <div id="containerSection7_PlacementNumber"></div>
                                </div>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="card card-box p-0">
                <div class="card-head">
                    <div class="title">Nature of employment</div>
                    <div class="tools">
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-xs-12 col-md-12">
                            <figure class="highcharts-figure">
                                <div id="parent-container">
                                    <div id="containerSection7_EmployeeType"></div>
                                </div>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card card-box p-0">
                <div class="card-head">
                    <div class="title">Average time gap between training completion and placement</div>
                    <div class="tools">
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-xs-12 col-md-12">
                            <figure class="highcharts-figure">
                                <div id="parent-container">
                                    <div id="containerSection7_GapDay"></div>
                                </div>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card card-box p-0">
                <div class="card-head">
                    <div class="title">Placement Info</div>
                    <div class="tools">
                        <select id="ddlSection7PlacementNumber" class="form-control form-control-custom">
                            <option value="Location">Location</option>
                            <option value="Industry">Industry</option>
                        </select>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-xs-12 col-md-12">
                            <figure class="highcharts-figure WhiteFontChart" id="figureSection7_Location">
                                <div id="parent-container">
                                    <div id="containerSection7_PlacementLocation"></div>
                                </div>
                            </figure>
                            <figure class="highcharts-figure WhiteFontChart" id="figureSection7_Industry" style="display:none">
                                <div id="parent-container">
                                    <div id="containerSection7_PlacementIndustry"></div>
                                </div>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="https://code.highcharts.com/maps/highmaps.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>

    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    <script src="https://code.highcharts.com/stock/modules/drilldown.js"></script>
    <script src="https://code.highcharts.com/maps/modules/map.js"></script>

    <script>
        $('.count').each(function () {
            $(this).prop('Counter', 0).animate({
                Counter: $(this).text()
            }, {
                duration: 4000,
                easing: 'swing',
                step: function (now) {
                    $(this).text(Math.ceil(now));
                }
            });
        });

        var startDate = "", endDate = "";
        $(document).ready(function () {

            //var start = moment().startOf('year');//moment().subtract(29, 'days');
            var start = moment('2023-01-01').startOf('year');//moment().subtract(29, 'days');
            //var end = moment().endOf('year');//moment();
            var end = moment();//moment();
            startDate = start.format('YYYY-MM-DD');
            endDate = end.format('YYYY-MM-DD');


            function cb(start, end) {
                $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));

                startDate = start.format('YYYY-MM-DD');
                endDate = end.format('YYYY-MM-DD');

                console.log(startDate);
                console.log(endDate);

                section7();
            }

            $('#reportrange').daterangepicker({
                startDate: start,
                endDate: end,
                ranges: {
                    'Today': [moment(), moment()],
                    'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                    'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                    'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                    'This Month': [moment().startOf('month'), moment().endOf('month')],
                    'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')],
                    'This Year': [moment().startOf('year'), moment().endOf('year')],
                    'All Time': [moment('2023-01-01'), moment()]
                }
            }, cb);

            cb(start, end);

            $('.tab-btn').on('click', function () {
                $('.tab-btn').removeClass('act');
                $(this).addClass('act');
            })

            //$("#ddlSection7PlacementNumber").val(new Date().getFullYear());

            //$("#ddlSection7PlacementNumber").change(function (e) {
            //    section7($(this).val());
            //});

            $("#ddlSection7PlacementNumber").change(function (e) {
                if ($(this).val() == 'Location') {
                    $('#figureSection7_Industry').hide();
                    $('#figureSection7_Location').show();
                } else {
                    $('#figureSection7_Industry').show();
                    $('#figureSection7_Location').hide();
                }
            });

        });

        function escapeRegExp(str) {
            return str.replace(/[.*+?^${}()|[\]\\]/g, '\\$&'); // $& means the whole matched string
        }

        function replaceAll(str, find, replace) {
            return str.replace(new RegExp(escapeRegExp(find), 'g'), replace);
        }
        //placementNumberJsonDataSection7 = [];
        function section7() {
            $.ajax({
                url: '@Url.Action("GetDashboard", "home")',
                data: { mode: 7, startDate: startDate, endDate: endDate },
                async: false,
                success: function (result) {
                    console.log(result);
                    if (result.IsSuccess) {
                        var data = JSON.parse(result.Data)[0];
                        Graph(JSON.parse(data.PlacementNumberJsonData), 'containerSection7_PlacementNumber', 'column', '', 'Target Group', '', 'Month', '', ['#4194ac']);
                        //placementNumberJsonDataSection7 = JSON.parse(data.PlacementNumberJsonData);
                        //var placementNumberYears = [...new Set(placementNumberJsonDataSection7.map(item => item.Year))];
                        //var placementNumberSelectedYear = placementNumberYears[0];
                        //var ddlSection7PlacementNumber = $('#ddlSection7PlacementNumber');
                        //$.each(placementNumberYears, function (index, text) {
                        //    ddlSection7PlacementNumber.append($('<option></option>').val(text).html(text));
                        //});
                        //ddlSection7PlacementNumber.val(placementNumberSelectedYear);
                        //Section7PlacementNumber(placementNumberSelectedYear);

                        Graph(JSON.parse(data.EmployeeTypeJsonData), 'containerSection7_EmployeeType', 'donut', '', 'Pre-Training Status', '', 'EmployeeTypeName', '');
                        Graph(JSON.parse(data.GapDayJsonData), 'containerSection7_GapDay', 'column', '', 'Pre-Training Status', '', 'GapDay', '');

                        Graph(JSON.parse(data.PlacementLocationJsonData), 'containerSection7_PlacementLocation', 'column', '', 'Pre-Training Status', '', 'StateName', '');
                        Graph(JSON.parse(data.PlacementIndustryJsonData), 'containerSection7_PlacementIndustry', 'column', '', 'Pre-Training Status', '', 'IndustryName', '');
                    }
                }
            });
        }

        //function Section7PlacementNumber(selectedYear) {
        //    var jsonData = placementNumberJsonDataSection7;
        //    if (selectedYear) {
        //        jsonData = placementNumberJsonDataSection7.filter(x => x.Year == selectedYear);
        //    }
        //    Graph(jsonData, 'containerSection7_PlacementNumber', 'column', '', 'Target Group', '', 'Month', '', ['#4194ac']);
        //    //Graph(placementNumberJsonData, 'containerSection5_AnnualHousehold', 'stack-column', '', 'Location', '', 'AnnualHouseholdincome', 'DistrictName');
        //}


    </script>


}
