
@{
    ViewBag.Title = "AssessmentExpired";
    Layout = null;
}
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
<style>
    body {
        background: #F8F8F8;
        margin: 0px;
        font-family: sans-serif;
        text-align: center
    }

    .header {
        padding: 5px 20px;
        background: #fff
    }

    h1 {
        margin: 10px;
        font-size: 28px;
        color: #222
    }

    .assessment-manage {
        margin: auto;
        margin-top: 90px;
        max-width: 350px;
        padding: 40px 40px;
        background: #fff;
        border-radius: 20px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    }

    h2 {
        font-size: 21px;
        color: #F05454;
        font-weight: 500;
        font-size: 30px;
        margin-top: 25px;
    }

    p {
        margin-top: 0;
        margin-bottom: 9px;
    }

    .login-btn {
        display: block;
        padding: 12px 0;
        background: #F05454;
        color: #fff;
        width: 100%;
        cursor: pointer;
        border: none;
        transition: background-color 0.5s ease;
        font-size: 15px;
        border-radius: 5px;
        margin-top: 20px;
        text-decoration: none
    }

        .login-btn:hover {
            background: #F05454
        }

    svg {
        fill: #F05454;
        width: 70px
    }
</style>
<div class="header">
    <h1>Hunar: Pathways To Progress</h1>
</div>
@if (HttpContext.Current.Session["AssessmentCurStatus"] != null)
{
    if (HttpContext.Current.Session["AssessmentCurStatus"].ToString() == "2" || HttpContext.Current.Session["IsExam"].ToString() == "1")
    {
        <div class="assessment-manage">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M256 0a256 256 0 1 1 0 512A256 256 0 1 1 256 0zM232 120V256c0 8 4 15.5 10.7 20l96 64c11 7.4 25.9 4.4 33.3-6.7s4.4-25.9-6.7-33.3L280 243.2V120c0-13.3-10.7-24-24-24s-24 10.7-24 24z" /></svg>
            <h2>Please Try Assessment On Time.</h2>
        </div>
    }
    else if (HttpContext.Current.Session["IsQuestionAvaiable"].ToString() == "0")
    {
        <div class="assessment-manage">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M256 0a256 256 0 1 1 0 512A256 256 0 1 1 256 0zM232 120V256c0 8 4 15.5 10.7 20l96 64c11 7.4 25.9 4.4 33.3-6.7s4.4-25.9-6.7-33.3L280 243.2V120c0-13.3-10.7-24-24-24s-24 10.7-24 24z" /></svg>
            <h2>Question Not Available.</h2>
        </div>
    }
    else
    {
        <div class="assessment-manage">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M256 0a256 256 0 1 1 0 512A256 256 0 1 1 256 0zM232 120V256c0 8 4 15.5 10.7 20l96 64c11 7.4 25.9 4.4 33.3-6.7s4.4-25.9-6.7-33.3L280 243.2V120c0-13.3-10.7-24-24-24s-24 10.7-24 24z" /></svg>
            <h2>Assessment Expired</h2>
            <p>Your assessment has expired.</p>
            @*<p>You will be redirected to the login page.</p>
                <a href="~/Account/Login" class="login-btn">Login</a>*@
        </div>
    }

}
else
{
    <div class="assessment-manage">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M256 0a256 256 0 1 1 0 512A256 256 0 1 1 256 0zM232 120V256c0 8 4 15.5 10.7 20l96 64c11 7.4 25.9 4.4 33.3-6.7s4.4-25.9-6.7-33.3L280 243.2V120c0-13.3-10.7-24-24-24s-24 10.7-24 24z" /></svg>
        <h2>Assessment Expired</h2>
        <p>Your assessment has expired.</p>
        @*<p>You will be redirected to the login page.</p>
            <a href="~/Account/Login" class="login-btn">Login</a>*@
    </div>
}
