@model Hunarmis.Models.CertificateModel
@{
    ViewBag.Title = "Assessment Completed";
    Layout = null;
}
<style>
    body {
        margin: 0px;
        height: 100%;
        font-family: sans-serif;
    }

    .score-content {
        display: flex;
        justify-content: center;
        align-items: center;
        background: #F8F8F8;
        height: 100%
    }

    .score-manage {
        padding: 30px;
        background: #fff;
        border-radius: 10px;
        width: 350px;
        text-align: center;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    }

        .score-manage h2, .score-manage h3 {
            margin: 10px;
        }

        .score-manage h2 {
            font-size: 20px;
            color: #fff;
            margin: 25px 0;
        }

            .score-manage h2 span {
                background: #079848;
                padding: 10px 25px;
                border-radius: 5px;
            }

        .score-manage a {
            text-decoration: none;
            padding: 10px;
            background: #F8F8F8;
        }
</style>

<div id="page-content">
    <div class="genral-form">
        <div class="row">
            <div class="col-lg-12">

                @if (Model != null)
                {
                    if (Model.IsCertificate == "1")
                    {
                        <div class="row">
                            <div class="col-md-12">
                                @Html.Raw(Model.HrmlData)
                            </div>
                        </div>
                    }
                    else if (Model.IsCertificate == "0")
                    {
                        <div class="score-content">
                            <div class="score-manage">
                                <h3>Thanks for appearing in the assessment.</h3>
                                <h2><span>(Score  : @(!string.IsNullOrWhiteSpace(Model.ScorePercentage)? Math.Round(Convert.ToDecimal(Model.ScorePercentage), 0):0) %)</span></h2>
                                @*<a href="#">Logout</a>*@
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>