@using System.Data
@using Hunarmis.Manager
@{
    DataTable dt = new DataTable();
    dt = Model;
}

<div class="bg-light rounded h-100 p-4">
    <div class="table-responsive">
        <table class="table table-bordered table-striped" id="tbl">
            <thead class="text-center">
                <tr>
                    <th class="text-center tblth">Srno.</th>
                    <th class="text-center tblth">Batch Name</th>
                    <th class="text-center tblth">Batch Start Date</th>
                    <th class="text-center tblth">Batch End Date</th>
                    <th style="width: 80px" class="text-center tblth">Edit</th>
                </tr>
            </thead>
            <tbody>
                @{
                    if (dt.Rows.Count > 0)
                    {
                        int srno = 1;
                        foreach (DataRow dr in dt.Rows)
                        {
                            <tr class="text-center">
                                <td>@(srno++)</td>
                                <td>@dr["BatchName"]</td>
                                <td>@CommonModel.FormateDtDMY(dr["BatchStartDate"].ToString())</td>
                                <td>@CommonModel.FormateDtDMY(dr["BatchEndDate"].ToString())</td>
                                <td>
                                    <a href="~/Master/BatchMaster?Id=@dr["Id"]" class="btn btn-success btn-sm"><i class="fa fa-edit"></i></a>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="5" class="text-center"><strong class="text-danger">Record Not Found !!</strong></td>
                        </tr>
                    }
                }
            </tbody>

        </table>
    </div>
    </div>
