@using Hunarmis.Models
@using Hunarmis.Manager
@{
    string url = string.Empty;
    Courses_Master clist = new Courses_Master();
    if (Model != null)
    {
        clist = Model;
    }
    ViewBag.Title = clist.CourseName;
}
<style>
    #end {
        display: none !important;
    }
    iframe {
        /*overflow: hidden;*/
        overflow:scroll;
    }
</style>

<script>

    //window.oncontextmenu = function () {
    //    return false;
    //}
    //window.frames["iframe1"].contentDocument.oncontextmenu = function () {
    //    return false;
    //};

    //document.addEventListener("contextmenu", function (e) {
    //    e.preventDefault();
    //});
    //document.addEventListener("keydown", function (e) {
    //    if (e.ctrlKey || e.metaKey) {
    //        e.preventDefault();
    //    }
    //});
    //document.getElementById("iframe1").addEventListener("keydown", function (e) {
    //    if (e.ctrlKey || e.metaKey) {
    //        e.preventDefault();
    //    }
    //});

    //function disableContextMenu() {
    //    window.frames["fraDisabled"].document.oncontextmenu = function () { alert("No way!"); return false; };
    //    // Or use this
    //    // document.getElementById("fraDisabled").contentWindow.document.oncontextmenu = function(){alert("No way!"); return false;};;    
    //}  

</script>
<body bgcolor="#FFFFFF" onload="disableContextMenu();" oncontextmenu="return false">
    <div id="wrapper">
        @if (clist != null)
        {
            <iframe id="fraDisabled" width="100%" height="473" src="@(CommonModel.GetBaseUrl()+clist.FilePath)#toolbar=0" scrolling="no" marginwidth="0" marginheight="0" allowfullscreen> </iframe>
            <div style="width:100%;height:473px;background-color:transparent;position:absolute;top:0px;" marginwidth="0" marginheight="0" allowfullscreen></div>

            @*<iframe id="iframe1" src="@(CommonModel.GetBaseUrl()+clist.FilePath)#toolbar=0" name="iframe1" scrolling="yes" height="600" width="100%" marginwidth="0" marginheight="0"
                onload="disableContextMenu();" title=""></iframe>*@
            @*<embed src="@(CommonModel.GetBaseUrl()+clist.FilePath)#view=FitH" style="width:100%; height:700px;">*@
        }
    </div>
</body>

